<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link href="~/auth/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!-- Main css -->
    <link href="~/auth/css/auth.css" rel="stylesheet" />
    <!--Sweet Alert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>

    <div class="main">
@RenderBody()

    </div>

    <!-- JS
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
     -->

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@RenderSection("Scripts",required:false)
@RenderSection("Styles",required:false)
