@model LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<!-- Sing in  Form -->
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="~/auth/images/signup-image.jpg" alt="sing up image"></figure>
                <a  asp-controller="Account" asp-action="Register" class="signup-image-link">Create an account</a>
                <a asp-controller="Account" asp-action="ForgotPassword" class="signup-image-link" >Forgot Password</a>

            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign up</h2>
                <form method="POST"  asp-controller="Account" asp-action="Login"   class="register-form" id="login-form">
                    <div class="form-group">
                        <label asp-for="Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input asp-for="Email" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"><i class="zmdi zmdi-lock"></i></label>
                        <input asp-for="Password"  placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <input asp-for="RememberMe" class="agree-term" />
                        <label asp-for="RememberMe"><span><span></span></span>Remember me</label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                    </div>
                </form>
               
            </div>
        </div>
    </div>
</section>